@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'material-color';
@import 'loadingscreen';
@import 'extraelements';
@import 'grid';

#m-body-intropage {
    background-color: $clr-grey-800;
    color: $clr-grey-100;
    font-family: Roboto;
    #m-headerbar {
        background-color: darken($clr-grey-900, 10%);
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 10%;
        #m-headerbar-title {
            font-weight: 600;
            padding: 10px;
        }
        ul {
            list-style-type: none;
        }
    }
    #m-body {
        background-color: $clr-grey-800;
        height: 90%;
        ul {
            list-style-type: none;
        }
    }
    #m-sidebar-fixed {
        background-color: darken($clr-grey-900, 10%);
        height: 90%;
        ul {
            list-style-type: none;
        }
    }
}